@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", serif;
  background-color: rgb(206, 202, 202);
}

button {
  width: 100px;
  height: 30px;
  border: 0;
  background-color: rgb(22, 121, 116);
  margin-left: 10px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease-in;
}

button:hover {
  background-color: rgb(212, 152, 83);
}

input {
  height: 30px;

}

.container {
  background:url("map.jpg") center center no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;

}

.title {

  text-align: center;

}

.title h1 {
  color: rgb(16, 94, 87);
}

.country-info {
  text-align: center;
}

.flag-img {
  width: 150px;

}